<!doctype html>
<html>

<head>
    <title>Final Exam</title>
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>

<body>

    <h1>Github Information</h1>
    <div class="row">

        <p>
            <strong>Name</strong>: <%= userData.name %><br>
                <strong>Username</strong>: <%= userData.login %><br>
                    <strong>Company</strong>: <%= userData.company %><br>
                        <strong>Bio</strong>: <%= userData.bio %>
        </p>
    </div>
</body>

</html>